body{
    /*background-color: black;*/
    display: flex;
    height: 100%;
    margin-top: 0px;
}
section{
    height: 400px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
.test{
    background-image: url(../image_codage.jpg);

}
.test h1{
    margin-top: 100px;
    color: yellow;
}
.navbar ul li a{
    background-color: transparent;
}
.navbar ul li a:hover{
    color: blue;
}
header{
    background: transparent;
    position: absolute;
}

.lien{
    background-color: black;
    display: inline-flex;
    
}
.lien div{
    border: 2px solid white;
    width: 50%;
}

