body{
    background-color: black;
    display: flex;
    height: 100%;
}
*{
    box-sizing: border-box;
}
section{
    height: 400px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
.test{
    background-image: url(../image_codage.jpg);

}

.lien{
    background-color: black;
    display: inline-flex;
    
}
.lien div{
    border: 2px solid white;
    width: 50%;
}

